---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import MainContent from '../components/MainContent.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="MTL Partners LLC - Technical Operations Support">
  <Navbar currentPage="/" />
  <main>
    <Hero />
    <MainContent />
    <ContactForm />
  </main>
  <Footer />
</Layout>
