---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import SimpleExplanation from '../components/SimpleExplanation.astro';
import SystemVisual from '../components/SystemVisual.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="MTL Partners LLC - Systems That Keep Your Business Running">
  <Navbar currentPage="/" />
  <main>
    <Hero />
    <SimpleExplanation />
    <SystemVisual />
    <ContactForm />
  </main>
  <Footer />
</Layout>
